{% if layout == 'full' %}
    {% extends 'layout_full.html' %}
{% elif layout == 'short' %}
    {% extends 'layout_short.html' %}
{% endif -%}

{% macro render_plugin_li(plugin) -%}
    <li class="list-group-item info-source" data-name="{{ plugin['name'] }}" id="{{ plugin['name'] }}_li">
        <div class="pretty p-switch">
            <input type="checkbox" class="plugin-checkbox" data-name="{{ plugin['name'] }}" data-type="plugin"/>
            <div class="state"><label></label></div>
        </div>
        <label>{{ plugin['name'] }}</label>
    </li>
{%- endmacro %}

{% block content %}

    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <p class="card-text"><strong>IO plugins:</strong></p>
                    <!-- add class p-switch -->
                    <ul class="list-group list-group-flush" role="tablist">
                        {% for plugin in plugins if plugin['type']=='reader' %}
                            {{ render_plugin_li(plugin) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <p class="card-text"><strong>Process & Analysis:</strong></p>
                    <!-- add class p-switch -->
                    <ul class="list-group list-group-flush" role="tablist">
                        {% for plugin in plugins if plugin['type']!='reader' %}
                            {{ render_plugin_li(plugin) }}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% for plugin in plugins %}
                    <ul class="plugin-config-set list-group list-group-flush" id="{{ plugin['name'] }}-config-set" style="display: none">
                        {% for pconfig in plugin['config'] %}
                        <li class="plugin-config list-group-item config-info-source" data-name="{{ plugin['name'] }}---{{ pconfig['name'] }}" id="{{ pconfig['name'] }}_config">
                            <div class="row">
                                <div class="input-group input-group-sm mb-3 col-sm-4">
                                    <div class="input-group-prepend">
                                       <div class="input-group-text">
                                          <input type="checkbox" aria-label="Checkbox for following text input"
                                                 class="plugin-param-checkbox"
                                                 data-name="{{ plugin['name'] }}:{{ pconfig['name'] }}"
                                                 data-parname="{{ pconfig['name'] }}"
                                                 data-plugin="{{ plugin['name'] }}"
                                                 data-type="param-switch">
                                       </div>
                                    </div>
                                    <input type="text"
                                           class="form-control plugin-param-input"
                                           value="{{ pconfig['value'] }}"
                                           data-name="{{ plugin['name'] }}:{{ pconfig['name'] }}"
                                           data-parname="{{ pconfig['name'] }}"
                                           data-plugin="{{ plugin['name'] }}"
                                           data-type="param">
                                </div>
                                <div class="col-sm-8">
                                     {{ pconfig['name'] }} ({{ pconfig['type'] }})
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>{# initial content #}
    <div class="row">
        <div class="col-12">
            {% for plugin in plugins%}
                <div class="help-view" style="display: none" data-name="{{ plugin['name'] }}" id="{{ plugin['name'] }}-help">Plugin <strong>{{ plugin['name'] }}: &nbsp;</strong>{{ plugin['help'] }}</div>
                {% for pconfig in plugin['config'] %}
                    <div class="help-view" style="display: none" data-name="{{ plugin['name'] }}" id="{{ plugin['name'] }}---{{ pconfig['name'] }}-help">Config <strong>{{ plugin['name'] }}:{{ pconfig['name'] }}</strong>: &nbsp;{{ pconfig['help'] }}</div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <hr>
    <div id="config-help">
    Help placeholder

    </div>

{% endblock %}

{% block end_script %}
<script src="static/plugins.js"></script>
<script>


    if(typeof jQuery=='undefined') {
        var headTag = document.getElementsByTagName("head")[0];
        var jqTag = document.createElement('script');
        jqTag.type = 'text/javascript';
        jqTag.src = '/static/jsroot/libs/jquery.js';
        jqTag.onload = activatePluginsGui;
        headTag.appendChild(jqTag);
    } else {
         activatePluginsGui();
    }

</script>
{% endblock %}
